body {
    text-align: center;
}

.title {
    margin-top: 30vh;
    font-family: 'Mooli', sans-serif;
    font-size: 3rem;
}

.container {
    width: 33%;
    text-align: center;
    position: absolute;
    left: 33%;
}

.instructions {
    font-size: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 30px;
}

.start {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-top: 30px;
}

.survey-title{
    margin-top: 30vh;
    font-family: 'Mooli', sans-serif;
    font-size: 2rem;
}

.responses-title{
    font-family: 'Mooli', sans-serif;
    font-size: 2rem;
    margin-top: 10vh;
}

.question, .answer {
    font-size: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
}

.standard-button{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 20%;
    position: absolute;
    left: 40%;
    margin-top: 30px;
}

.error{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.1)
}

textarea{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
}
