{% extends 'base.html' %}

{% block title %}Survey Complete!{% endblock %}

{% block content %}

{% for category, msg in get_flashed_messages(with_categories=true) %}
    <p class="{{category}}">{{msg}}</p>
{% endfor %}

<h2 class="survey-title">{{current_survey.title}}</h2>
<p class="question">Thank you for completing our survey.</p>

<h2 class="responses-title">Your Responses</h2>

{% for number in range(length) %}
    <p class="question">
        <b>{{current_survey.questions[number].question}}</b> {{session['responses'][number]}}{% if current_survey.questions[number].allow_text %}, {{session['comments'][number]}}{% endif %}
    </p>
{% endfor %}
{% endblock %}
